# Node modules
/node_modules
/ui/node_modules

# Compilation output
/dist
/ui/dist

# pnpm deploy output
/bundle

# Hardhat Build Artifacts
/artifacts

# Hardhat compilation (v2) support directory
/cache

# Typechain output
/types

# Hardhat coverage reports
/coverage

# Local environment variables
deploy/.env
scripts/.env
/ui/.env
/ui/.env.local
/ui/.env.*.local
